@media screen and (max-width: 1440px) {
    *{
        box-sizing: border-box;
      }
    .header {
        width: 350px;
    }
    .name {
        display: none;
    }
    .link_main {
        display: none;
    }
    .link_donate {
        display: none;
    }
    .link_discord {
        display: none;
    }
    .play {
        display: none;
    }
    .m_menu {
        visibility: visible;
    }
    .info {
        width: 350px;
    }
    .bma_img {
        width: 300px;
        height: 150px;
        left: 25px;
        top: 37px;
    }
    .bma_heading {
        width: 144px;
        height: 28px;
        left: 104px;
        top: 80px;

        font-size: 28px;
        line-height: 28px;
    }
    .bma_text {
        width: 323px;
        height: 120px;
        left: 13px;
        top: 200px;

        font-size: 20px;
        line-height: 20px;
    }
    .bon_img {
        width: 300px;
        height: 210.42px;
        left: 25px;
        top: 445px;
    }
    .bon_heading {
        width: 300px;
        height: 56px;
        left: 25px;
        top: 689px;

        text-align: center;
    }
    .bon_text {
        width: 300px;
        height: 220px;
        left: 25px;
        top: 770px;

        text-align: center;
    }
    .btw_img {
        width: 300px;
        height: 210.42px;
        left: 25px;
        top: 1191px;
    }
    .btw_heading {
        width: 300px;
        height: 56px;
        left: 25px;
        top: 1435px;

        text-align: center;
    }
    .btw_text {
        width: 300px;
        height: 220px;
        left: 25px;
        top: 1516px;

        text-align: center;
    }
    .bth_img {
        width: 300px;
        height: 210.42px;
        left: 25px;
        top: 1957px;
    }
    .bth_heading {
        width: 300px;
        height: 56px;
        left: 25px;
        top: 2201px;

        text-align: center;
    }
    .bth_text {
        width: 300px;
        height: 220px;
        left: 25px;
        top: 2282px;

        text-align: center;
    }
    .footer_inner {
        top: 675px;
    }
    .footer {
        width: 350px;
        height: 675px;
        top: 400px;
    }
    .brand_logo {
        width: 100px;
        height: 100px;
        left: 61px;
        top: 34px;
    }
    .brand_name {
        width: 164px;
        height: 32px;
        left: 29px;
        top: 143px;
        
        font-size: 32px;
        line-height: 32px;
    }
    .rm_main {
        width: 147px;
        height: 28px;
        left: 37px;
        top: 225px;
        
        font-size: 28px;
        line-height: 28px;
    }
    .rm_donate {
        width: 105px;
        height: 28px;
        left: 37px;
        top: 278px;
        
        font-size: 28px;
        line-height: 28px;
    }
    .rm_discord {
        width: 133px;
        height: 28px;
        left: 37px;
        top: 331px;
        
        font-size: 28px;
        line-height: 28px;
    }
    .number {
        width: 256px;
        height: 20px;
        left: 29px;
        top: 409px;
        
        font-size: 20px;
        line-height: 20px;
    }
    .mail {
        width: 293px;
        height: 18px;
        left: 29px;
        top: 454px;
        
        font-size: 18px;
        line-height: 18px;
    }
    .adress {
        width: 288px;
        height: 36px;
        left: 29px;
        top: 497px;
        
        font-size: 18px;
        line-height: 18px;
    }
    .sc_vk {
        width: 75px;
        height: 75px;
        left: 247px;
        top: 47px;
    }
    .sc_tg {
        width: 75px;
        height: 75px;
        left: 247px;
        top: 172px;
    }
    .sc_dc {
        width: 75px;
        height: 75px;
        left: 247px;
        top: 297px;
    }
    .copyright {
        width: 330px;
        height: 60px;
        left: 10px;
        top: 583px;
        
        font-size: 15px;
        line-height: 15px;
        text-align: center;
    }
}